h1 {
    color: white;
    font-family: 'Ysabeau Office';
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    text-align: center;
}

h2 {
    color: black;
    font-family: 'Ysabeau Office';
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
}

h3 {
    padding-top: 30px;
    padding-bottom: 30px;
    color: black;
    font-family: 'Ysabeau Office';
    text-shadow: 3px 3px 0px rgba(0,0,0,0.2);
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
}

p {
    color: black;
    font-family: 'Ysabeau Office';
    text-align: center;
}

footer {
    color: black;
    font-family: 'Ysabeau Office';
    text-align: center;
    font-size: large;
    font-weight: bold;
    padding-top: 100px;
    padding-bottom: 100px;
}

.banniere {
    padding-top: 400px;
    padding-right: 500px;
    padding-bottom: 500px;
    padding-left: 500px;
    background-image: url('fond1.jpg');
    background-size: cover;
    background-position: center;
}

.container {
    display: flex; /* Utilisation de flexbox pour aligner les colonnes */
    justify-content: space-between; /* Aligner les colonnes avec un espace égal entre elles */
    width: 100%; /* Prendre la largeur maximale disponible */
}

.column {
    width: 30%; /* Largeur de chaque colonne */
    padding: 25px; /* Espacement intérieur pour le contenu */
    box-sizing: border-box; /* Inclure les bordures et le padding dans la largeur spécifiée */
}

/* Couleur des colonnes */
.blue-column {
    background-color: rgba(0, 0, 255, 0.329); /* Couleur bleue pour la colonne de gauche */
}

.gray-column {
    background-color: lightgray; /* Couleur grise claire pour la colonne du milieu */
}

.red-column {
    background-color: rgba(255, 0, 0, 0.5); /* Couleur rouge pour la colonne de droite */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de la colonne de gauche */
.sidebar {
    font-size: large;
    font-weight: bold;
    color: black;
    font-family: 'Ysabeau Office';
    text-align: center;
    float: left; /* Permet à la colonne d'être à gauche */
    width: 10%; /* 1/5 de la largeur de l'écran */
    height: 130vh; /* 100% de la hauteur de la fenêtre */
    background-color: #f0f0f0; /* Couleur de fond */
    display: block;
}

/* Style du contenu principal */
.content {
    display: block;
    margin-left: 10%; /* Décalage pour laisser de l'espace à la colonne de gauche */
    height: 100vh; /* 100% de la hauteur de la fenêtre */
    background-color: #ffffff; /* Couleur de fond */
}

.custom-link {
    color: black; /* Définit la couleur du lien hypertexte */
    /* Autres styles que vous souhaitez appliquer aux liens personnalisés */
    text-decoration: none; /* Optionnel : pour enlever le soulignement */
}
